// ------ MAIN ------ //

.center {
  text-align: center;
}


// ------ NAVBAR ------ //

nav {
  background-color: #EA4335;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}
